<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gms.web.mapper.GradeMapper">
  <insert id="insertMajor" 
		parameterType="com.gms.web.grade.SubjectDTO">
		insert into major (major_id,title,member_id,subj_id) 
		values 
		<foreach collection="list" item="i" separator=" , ">
		(FLOOR(5 + (RAND() * 99999)),#{i.title},#{i.id},#{i.subjId})
		
		</foreach>
		
		</insert>
</mapper>